.recentf
auto-save-list/
backups/
cider-history
elpa/
projectile-bookmarks.eld
transient/
places
projectile.cache
.DS_Store
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
init_backup.el
flycheck_init.el