.recentf
auto-save-list/
backups/
cider-history
elpa/
projectile-bookmarks.eld
transient/
places
projectile.cache
.DS_Store
.cache/
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
bookmarks
eshell/
flycheck_init.el
history